<div class="recipe-list">
  <h2>Recipes</h2>

  <div *ngIf="(recipes$ | async) as recipes">
    <div *ngIf="recipes.length > 0; else noRecipes">
      <div class="grid">
        <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe" (edit)="editRecipe($event)"
          (delete)="deleteRecipe($event)" (toggleFavorite)="toggleFavorite($event)"
          (addToShoppingList)="addToShoppingList($event)">
        </app-recipe-card>
      </div>
    </div>

    <ng-template #noRecipes>
      <p>No recipes available. Create a new recipe!</p>
    </ng-template>
  </div>
</div>