.recipe-list {
  padding: 2rem;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.5rem;
  }
}